<br />
<br />
<h2 class="text-center text-info">College Management System</h2>
    	
<br />
<br />
<br />
<div align="center">
&nbsp;&nbsp;&nbsp;<%= link_to 'Class Section', my_classes_path , :class => 'btn btn-success'%> &nbsp;&nbsp;&nbsp;
<%= link_to 'Student Section', students_path , :class => 'btn btn-success'%> &nbsp;&nbsp;&nbsp;
<%= link_to 'Subject Section', subjects_path , :class => 'btn btn-success'%> &nbsp;&nbsp;&nbsp;
<%= link_to 'Teacher Section', teachers_path , :class => 'btn btn-success'%> &nbsp;&nbsp;&nbsp;
</div>